[Unit]
Description=starting web project3
# When systemd stops or restarts the app.service, the action is propagated to this unit

# Start this unit after the app.service start

# 2.30 StartLimitIntervalSec=0

[Service]
# Environment=DEBUG=app,app:*
Type=simple
User=meotimdihia
WorkingDirectory=/home/meotimdihia/sources/project3
ExecStart=/bin/bash -c 'pnpm start -p 3006'
Restart=always
RuntimeMaxSec=5h
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
