[Unit]
Description=starting web project2
# When systemd stops or restarts the app.service, the action is propagated to this unit

# Start this unit after the app.service start

# 2.30 StartLimitIntervalSec=0

[Service]
# Environment=DEBUG=app,app:*
Type=simple
User=meotimdihia
WorkingDirectory=/home/meotimdihia/sources/project
ExecStart=/bin/bash -c 'pnpm start -p 3004'
Restart=always
RuntimeMaxSec=4h
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
