[Unit]
Description=starting web project4
# When systemd stops or restarts the app.service, the action is propagated to this unit

# Start this unit after the app.service start

# 2.30 StartLimitIntervalSec=0

[Service]
# Environment=DEBUG=app,app:*
Type=simple
User=meotimdihia
WorkingDirectory=/home/meotimdihia/sources/project4
ExecStart=/bin/bash -c 'pnpm start -p 3008'
Restart=always
RuntimeMaxSec=6h
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
